<h1>Lista de Alunos</h1>

<ul>
@foreach (var item in ViewBag.Aluno){
<p>
Nome do Aluno: @item.Nome<br>
Idade do Aluno: @item.Idade<br>
Turma do Aluno: @item.Turma<br>
Codigo do Aluno: @item.id<br>



</p>


}


</ul>