@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');


/*/////////////////// variavéis //////////////// */
:root {
    --cor-preto: #2b1d12;
    --cor-azul: #044689;
    --cor-branco1: #bfd7ea;
    --cor-branco2: #ebf6ff;
    --cor-vermelho: #DC493A;
    --cor-cinza: #434d60;
    --cor-braco: #fafafa;
    

    --borda: 4px solid var(--cor-azul);
    --borda-arredondada: 4px;


    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/* //////////  final das variavéis /////////// */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans Code", sans-serif;
    outline-color: var(--cor-azul);
}

body {
    background-color: var(--cor-branco2)
}

h1 {
    position: absolute;
    /*altera a posição do elemento*/
    z-index: -1;
    /*camadas do elemento*/
    opacity: 0;
    /*opacidade*/
}

/* formulario */
.formulario-botao-azul {
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco1);
    font-size: var(--tamanho-fonte-sm);
}

.formulario-campos>input {
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-branco1);
    padding: 5px;
    color: var(--cor-cinza);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
    width: 100%;

}

.formulario-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza);
    font-weight: 600;
}

.estilo-formulario {
    width: 100%;
    background-color: var(--cor-branco2);
    border: var(--borda);
}

#upload-imagem {
    display: none;
}

.imagem-up {
    min-height: 35px;
    padding: 10px;
    max-width: 300px;
    background-color: var(--cor-branco1);
    color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: var(--tamanho-fonte-sm);
   font-weight: bold;
}





/* cabeçalho */
#cabecalho {
    background-color: var(--cor-braco);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: #2b1d12;
}



#cabecalho>nav {

    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-mobile {
    display: none;
}

.cabecalho-acoes {

    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;
}



.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;
}


/* RESPONSIVO */
@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }
}