.perfil-dados {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    border: var(--cor-branco1);
}

#foto-do-perfil {
    width: 100px;
    height: 100px;
    border: 5px solid;
    border-color: var(--cor-azul);
    margin-right: 10px;
}

.dados-perfil>h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.dados-perfil>p {
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}

.acoes-perfil>a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 0.9rem;
}

#perfil-editar {
    background-color: var(--cor-branco1);
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: none;
    color: var(--cor-azul);
    text-decoration: none;
    font-size: 0.9rem;

}

#perfil-sair {
    background-color: var(--cor-vermelho);
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: none;
    color: var(--cor-branco1);
    text-decoration: none;
    font-size: 0.9rem;

}

/*///////////////////////////  PUBLICAÇÕES  ////////////////////////////////////*/

.publicacoes {
    max-width: 600px;
    margin: 0 auto 50px auto;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;

}



.publicacoes>h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

.foto-postagem {
    max-width: 100%;

}

.postagem {
    margin-bottom: 50px;
    padding: 20px;
    border: var(--borda);
}

.publicacao-com-foto {
    
    border: none;
    max-width: 600px;
    margin: 0 auto 50px auto;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;

}

.publicacao-com-foto > a{
    display: flex;
    margin-top: 10px;
    color: var(--cor-branco1);
    text-decoration: none;
}



.interacoes-publicacao {
    display: flex;
    gap: 20px;
    margin: 10px 0;
    margin-bottom: 10px;
}

.postagem > a {
    text-decoration: none;
    color: var(--cor-branco1);
    font-size: var(--tamanho-fonte-sm);
}
